
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<video autoplay muted loop id="myVideo">
    <source src="../../Trailer/VENOM - Official Trailer (HD).mp4" type="video/mp4">
</video>
<a href="~/Movies/">
    <div id="myBtn">
        Go to Movies Library
    </div>
</a>

       


